* {
    margin: 0;
    padding: 0;
}

.main_screen {
    background-color: #e9e9e9;
    height: 100vh;
}

header {
    padding-top: 38px;
    margin-bottom: 170px;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 30px;
}

header nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #191919;
    font-family: Montserrat;
    font-size: 12px;
}

header nav ul li:hover a,
header nav ul li.active a {
    color: #10c9c3;
}

.main_text_banner .container {
    display: flex;
    justify-content: flex-end;
}

.main_text_banner .banner_content{
    max-width: 500px;
}

.banner_content h1 {
    font-family: Montserrat;
    font-size: 38px;
    color: #1d1d1d;
    margin-bottom: 30px;
}

.banner_content p {
    font-family: "Nunito Sans";
    font-size: 18px;
    color: #787878;
    line-height: 29px;
    margin-bottom: 40px;
}

.banner_content a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Montserrat;
    color: white;
    font-size: 12px;
    background-color: #10c9c3;
    padding: 25px 45px 22px;
}

.about_us {
    padding: 100px 7px;
}

.about_us .container{
    display: flex;
    justify-content: center;
}

.about_us .container div {
    max-width: 630px;
    text-align: center;
}

.about_us h2 {
    font-family: Montserrat;
    font-size: 30px;
    color: #191919;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.about_us p {
    font-family: "Nunito Sans";
    font-size: 16px;
    color: #787878;
    line-height: 24px;
    margin-bottom: 35px;
}